@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Styles for the sign-up container */
.Sign-up {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  /* background-color: #f9f9f9; */
  position: relative;
  top: 5rem;
}

/* Styles for the form header */
.Sign-up h1 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

/* Styles for form labels */
.Sign-up label {
  display: block;
  margin-bottom: 5px;
}

/* Styles for form inputs */
.Sign-up input[type="text"],
.Sign-up input[type="email"],
.Sign-up input[type="password"],
.Sign-up input[type="radio"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 22px;
  border: none;
}

/* Styles for radio button container */
.Sign-up .radio-btn {
  margin-bottom: 15px;
}

/* Styles for radio button label */
.Sign-up .radio-btn label {
  margin-left: 5px;
}

/* Styles for submit button */
.Sign-up .submit {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 22px;
  cursor: pointer;
}

/* Hover effect for submit button */
.Sign-up .submit:hover {
  background-color: #0056b3;
}

.radio-btn input {
}
